.title_section {
  display: block;
  width: 100%;
  height: 1846px;
  z-index: 6;
  padding: 0;
  margin: 0 auto;
}

.title__circle-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.title__circle-wrap .title__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url(../img/title__section/logo.png) center center no-repeat;
  background: #FFF;
  border-radius: 50%;
  width: 876px;
  height: 876px;
}
.title__circle-wrap .title__circle .title__circle-img {
  display: block;
  width: 90%;
  height: 140px;
}
.title__circle-wrap .about__circle {
  margin: 0 auto;
  background: url(../img/title__section/figure1_copy.png);
  width: 652px;
  height: 652px;
  color: #FFF;
  text-align: center;
}
.title__circle-wrap .about__circle span.section__title-style {
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 50px;
  font-size: 70px;
}
.title__circle-wrap .about__circle ul li {
  line-height: 1.2;
  font-weight: normal;
}
.title__circle-wrap .about__circle ul li:first-child {
  padding-bottom: 35px;
}
.title__circle-wrap .about__circle ul li:last-child {
  margin: 0 auto;
  width: 525px;
}
.title__circle-wrap .vertical__line {
  margin: 0 auto;
  width: 4px;
  height: 128px;
}
.title__circle-wrap .vertical__line.none-gradient {
  background: #73C343;
}
.title__circle-wrap .vertical__line.gradient {
  background: linear-gradient(to bottom, #73C343, transparent 100%);
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.dashboard-text-wrap {
  width: 100%;
  display: block;
}

.dashboard__text {
  margin-bottom: 25px;
}
.dashboard__text span {
  padding-bottom: 16px;
}

.dashboard__img-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.dashboard1 {
  display: block;
  position: relative;
  z-index: 7;
  top: 0;
  width: 65.16%;
  max-width: 1298px;
  height: auto;
}

.anim_finished_img {
  position: absolute;
  width: 17.19%;
  height: 200px;
  z-index: 8;
  top: 0px;
  left: 22.86%;
  border: 3px solid black;
}

.horisontal__line {
  position: relative;
  top: -370px;
  left: 37.6%;
  border: none;
  background-color: #696969;
  color: red;
  height: 4px;
  width: 22%;
  z-index: 9;
}

.dashboard2 {
  display: block;
  position: absolute;
  z-index: 8;
  left: 59.27%;
  top: 320px;
  width: 22.4%;
  max-width: 430px;
  height: auto;
  animation: slide_d2 4s 0.5s;
}
@keyframes slide_d2 {
  from {
    transform: translateX(350px);
    -webkit-transform: translate(0px, 0);
    -o-transform: translate(350px, 0);
    -moz-transform: translate(350px, 0);
  }
  to {
    transform: translateX(100%);
  }
}

.personal__data {
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  z-index: 5;
}

.personal__data-wrap {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 51%;
}

.personal__data__text {
  padding-bottom: 50px;
}
.personal__data__text span:first-child {
  padding-bottom: 38px;
}

.personal__data__img1 {
  position: relative;
  float: right;
  z-index: 7;
  top: -475px;
  width: 52.14%;
  height: auto;
}

.personal__data__img2 {
  position: absolute;
  z-index: 8;
  top: 465px;
  right: 35%;
  width: 15%;
  height: auto;
}

.pill-box {
  display: block;
  position: relative;
  margin-bottom: 178px;
  width: 100%;
  z-index: 5;
}
.pill-box .pill-box__image-wrap {
  display: inline-block;
  position: relative;
  width: 56.67%;
  z-index: 9;
}
.pill-box .pill-box__image-wrap .pill-box__img1 {
  position: absolute;
  display: block;
  width: 55.14%;
  top: -480px;
  left: 20.99%;
  z-index: 7;
}
.pill-box .pill-box__image-wrap .pill-box__img2 {
  display: block;
  width: 100%;
  position: absolute;
  top: -40px;
  z-index: 7;
}
.pill-box .pill-box__image-wrap .pill-box__img3 {
  display: block;
  position: absolute;
  width: 308px;
  height: 308px;
  top: 110px;
  left: 32%;
  z-index: 8;
}
.pill-box .pill-box__img4 {
  display: block;
  position: relative;
  width: 29.26%;
  top: 149px;
  left: 60%;
  z-index: 8;
}
.pill-box .pill-box__text-wrap {
  display: inline-block;
  position: relative;
  top: -350px;
  width: 43%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  z-index: 9;
}
.pill-box .pill-box__text-wrap .pill-box__text {
  margin: 0 auto;
  width: 100%;
}
.pill-box .pill-box__circle-wrap {
  display: block;
  position: absolute;
  z-index: 6;
  width: 60vw;
  max-width: 1260px;
  height: 60vw;
  max-height: 1260px;
  right: -10%;
  top: -400px;
}
.pill-box .pill-box__circle-wrap .pill-box__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #6c68e5 1%, #3694c5 50%, #42b8f5 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #6c68e5 1%, #3694c5 50%, #42b8f5 100%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #6c68e5 1%, #3694c5 50%, #42b8f5 100%);
  z-index: 7;
}

.circle-bg {
  z-index: 8;
}

.personal__calendar {
  display: block;
  position: relative;
  width: 100%;
}

.personal__calendar-title {
  display: block;
  font-size: 50px;
  font-family: "MyriadProRegular";
  color: #282828;
  padding-bottom: 49px;
}

.personal__calendar-wrap {
  display: block;
  position: relative;
  width: 100%;
}

.personal__calendar__text {
  display: block;
  position: relative;
  padding: 0;
  width: 50%;
}
.personal__calendar__text span {
  padding-bottom: 49px;
}

.circle__text {
  float: right;
}

.personal__calendar__img-wrap {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
}
.personal__calendar__img-wrap .personal__calendar__img1 {
  position: relative;
  z-index: 1;
  width: 62.92%;
  height: auto;
}
.personal__calendar__img-wrap .personal__calendar__img2 {
  position: relative;
  z-index: 2;
  width: 16.3%;
  height: auto;
  right: -180px;
  top: 120px;
}

.health__journal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.health__journal-wrap {
  display: block;
  width: 100%;
}

.health__journal__text {
  display: inline-block;
  padding-top: 135px;
  width: 51.85%;
}
.health__journal__text .health__journal-title {
  padding-bottom: 59px;
}
.health__journal__text ul {
  padding-bottom: none;
  margin-bottom: 86px;
}
.health__journal__text .number-of-items-wrap .number__circle {
  border: 4px solid #FFF;
}
.health__journal__text .number-of-items-wrap .number__circle .circle__text span {
  color: #FFF;
}
.health__journal__text .number-of-items-wrap .number__circle .circle__text span.number {
  color: #73C343;
}

.health__journal__iphone {
  display: inline-block;
  position: relative;
  width: 48%;
  height: auto;
  z-index: 2;
}
.health__journal__iphone .health__journal__img1 {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 14.27%;
  top: -345px;
  width: 59.61%;
  height: auto;
  z-index: 3;
}

.health__journal-img-wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-height: 1513px;
  top: -250px;
  z-index: 1;
}
.health__journal-img-wrap .health__journal__img2 {
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.health__journal-img-heart {
  display: block;
  position: absolute;
  width: 19.58%;
  height: auto;
  top: 320px;
  right: 0;
}

.health__journal__img3 {
  width: 100%;
  z-index: 4;
}

.medical__services {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-bottom: 122px;
  margin-top: -230px;
}

.medical__services-wrap {
  display: block;
  position: relative;
  width: 100%;
}
.medical__services-wrap .container .medical__services-title {
  padding-bottom: 34px;
  display: block;
  font-size: 50px;
  font-family: "MyriadProRegular";
  color: #FFF;
}
.medical__services-wrap .container .medical__services__text {
  display: inline-block;
  width: 48.89%;
}
.medical__services-wrap .container .number-of-items-wrap {
  display: inline-block;
  margin-left: 8.98%;
  width: 27.78%;
}
.medical__services-wrap .container .number__circle {
  margin: 0;
  padding: 0;
  border: 4px solid #FFF;
}
.medical__services-wrap .container .number__circle .circle__text span {
  color: #FFF;
}
.medical__services-wrap .container .number__circle .circle__text span.number {
  color: #73C343;
}

.medical__services__img-wrap {
  display: block;
  position: relative;
  width: 100%;
}
.medical__services__img-wrap .medical__services__img3 {
  position: relative;
  width: 16.3%;
  right: -21.88%;
  top: 60px;
  z-index: 3;
}
.medical__services__img-wrap .medical__services__img2 {
  position: relative;
  top: 0;
  float: right;
  width: 69.74%;
  height: auto;
  z-index: 2;
}
.medical__services__img-wrap .medical__services__img1 {
  position: absolute;
  top: -412px;
  left: 72.09%;
  width: 21.15%;
  height: auto;
}

.mobile__application {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 85px;
  height: auto;
}

.mobile__application-wrap {
  display: block;
  width: 100%;
}
.mobile__application-wrap .grey-text.mobile__application__text {
  margin: 0;
  width: 56.11%;
}
.mobile__application-wrap .grey-text.mobile__application__text span {
  margin-bottom: 35px;
}
.mobile__application-wrap .grey-text.mobile__application__text ul {
  border-left: 4px solid #73C343;
}

.mobile__application__img-wrap {
  display: block;
  width: 91.35%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.mobile__application__img-wrap .mobile__application__img1 {
  width: 100%;
}

footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #f7f5f9;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "MyriadProRegular";
  width: 100%;
  max-width: 1918px;
  margin: 0 auto;
  background: url(../img/footer/footer_bg_gradient.png) center top no-repeat;
  z-index: 3;
}

.footer__wrap-above {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
  color: #242424;
  font-size: 2.25em;
  line-height: 1.2;
  text-align: center;
}
.footer__wrap-above .footer__img__puls {
  display: block;
  margin: 0 auto;
  padding-top: 400px;
  padding-bottom: 32px;
  width: 100%;
  height: auto;
}
.footer__wrap-above a {
  margin-bottom: 39px;
  color: #242424;
  border-bottom: 2px solid #3292c3;
}
.footer__wrap-above span.last-child {
  display: block;
}
.footer__wrap-above .footer__download__wrap {
  display: block;
  margin: 0 auto;
  padding-top: 17px;
}
.footer__wrap-above .footer__download__wrap img {
  display: inline-block;
}
.footer__wrap-above .footer__download__wrap img:first-child {
  width: 181px;
  margin-right: 33px;
}
.footer__wrap-above .footer__download__wrap imglast-child {
  width: 177px;
}

.footer__content {
  display: block;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 31.87%;
}

.footer__wrap-below {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10.26%;
  margin-right: 7.45%;
  width: 100%;
  max-width: 1918px;
  height: 152px;
}
.footer__wrap-below .footer__wrap-below__it-aces {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
}
.footer__wrap-below .footer__wrap-below__it-aces img {
  display: block;
  width: 209px;
}
.footer__wrap-below .see__again {
  display: inline-block;
  margin: 0 auto;
  padding-top: 30px;
  align-items: center;
  width: 174px;
}
.footer__wrap-below .see__again .button__up {
  display: block;
  margin: 0 auto;
  background: url(../img/footer/button.png) center no-repeat;
  width: 42px;
  height: 42px;
  padding-bottom: 12px;
}
.footer__wrap-below .see__again img {
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}
.footer__wrap-below .see__again span {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.footer__wrap-below .footer-btn-wrap {
  display: inline-block;
  padding-top: 39px;
}
.footer__wrap-below .footer-btn-wrap .footer-btn__return {
  padding: 26px 50px 24px 56px;
  background: #3292c3;
  color: #FFF;
  text-transform: uppercase;
}

.section__text {
  display: block;
  font-family: "MyriadProRegular";
}
.section__text span {
  display: block;
  font-size: 50px;
}
.section__text ul {
  display: block;
  margin-top: 17px;
  padding-left: 14px;
}
.section__text ul li {
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 1.364;
}
.section__text ul li:last-child {
  padding-bottom: none;
}
.section__text.white-text {
  color: #FFF;
}
.section__text.white-text ul {
  border-left: 4px solid #73C343;
}
.section__text.grey-text {
  color: #383838;
}
.section__text.grey-text span {
  color: #282828;
}
.section__text.grey-text ul {
  border-left: 4px solid #E17809;
}

.number-of-items-wrap {
  display: flex;
  margin: 0 auto;
  width: 50%;
}
.number-of-items-wrap .number__circle {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 4px solid #383838;
  font-family: "MyriadProRegular";
}
.number-of-items-wrap .circle__text {
  display: block;
  margin: 0 auto;
}
.number-of-items-wrap .circle__text span {
  display: block;
  text-align: center;
  line-height: 1.111;
  font-size: 18px;
  color: #383838;
}
.number-of-items-wrap .circle__text span.number {
  font-size: 30px;
  line-height: 1.233;
  color: #73C343;
}
.number-of-items-wrap .number__circle {
  animation: slide_from_right 3s 0.25s;
  animation-direction: normal;
  nimation-play-state: paused;
}
@keyframes slide_from_right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3000px;
  z-index: 2;
  background: linear-gradient(to top, #42b8f4, #6c68e5);
}

.ellipse-light-grey {
  position: absolute;
  left: 0;
  top: 2437px;
  width: 100%;
  height: 2400px;
  z-index: 4;
  background-color: #f2f2f2;
  border-top-left-radius: 100% 25%;
}

.ellipse-white {
  position: absolute;
  left: 0;
  top: 4837px;
  width: 100%;
  height: 2100px;
  z-index: 4;
  background-color: #FFF;
  border-bottom-left-radius: 100% 592px;
}

.ellipse-blue-wrap {
  position: absolute;
  left: -574px;
  top: 5000px;
  width: 1103px;
  height: 1103px;
  z-index: 3;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.302;
}

.rectangle2 {
  position: absolute;
  top: 6300px;
  left: 0;
  width: 100%;
  height: 2760px;
  z-index: 2;
  background: linear-gradient(to top, #42b8f5, #646ee0);
}

.rectangle3 {
  background-color: #FFF;
  position: absolute;
  left: 0px;
  top: 9060px;
  width: 100%;
  height: 1487px;
  z-index: 2;
}

.rectangle4 {
  background-color: #f8f7fb;
  position: absolute;
  left: 0px;
  top: 10555px;
  width: 100%;
  height: 380px;
  z-index: 2;
}

html {
  line-height: 1;
  font-size: 12pt;
}

body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

div {
  display: block;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.bg__wrapper {
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  left: center;
  z-index: 6;
  opacity: 0.99;
  width: 100%;
  max-width: 1920px;
}

.container {
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 81vw;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1080px) {
  .ellipse-light-grey {
    top: 2270px;
  }

  .ellipse-white {
    height: 1130px;
  }

  .rectangle2 {
    top: 4800px;
    height: 1930px;
  }

  .ellipse-blue-wrap {
    top: 4500px;
    width: 800px;
    height: 800px;
    left: -504px;
  }

  .rectangle3 {
    top: 6730px;
    height: 870px;
  }

  .rectangle4 {
    top: 7600px;
    height: 380px;
  }

  .container {
    width: 960px;
  }

  .section__text span {
    font-size: 40px;
  }
  .section__text ul li {
    font-size: 18px;
  }

  .number-of-items-wrap .number__circle {
    width: 160px;
    height: 160px;
    border: 3px solid #383838;
  }
  .number-of-items-wrap .circle__text span {
    font-size: 17px;
  }
  .number-of-items-wrap .circle__text.number {
    font-size: 26px;
  }

  .title__circle-wrap .about__circle span.section__title-style {
    font-size: 70px;
  }
  .title__circle-wrap .about__circle ul {
    font-size: 22px;
  }

  .personal__data-wrap {
    width: 48%;
  }

  .personal__data__img1 {
    top: -405px;
  }

  .personal__data__img2 {
    top: 330px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img1 {
    top: -380px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img3 {
    width: 38%;
    top: -80px;
    left: 23%;
  }
  .pill-box .pill-box__img4 {
    top: 70px;
  }
  .pill-box .pill-box__text-wrap {
    top: -160px;
  }
  .pill-box .pill-box__circle-wrap {
    width: 780px;
    height: 780px;
    top: 150px;
    right: -200px;
  }

  .personal__calendar__img-wrap .personal__calendar__img1 {
    width: 70%;
  }
  .personal__calendar__img-wrap .personal__calendar__img2 {
    right: -240px;
    top: 218px;
  }

  .health__journal__iphone .health__journal__img1 {
    width: 46%;
    top: -280px;
  }

  .health__journal__text ul {
    margin-bottom: 46px;
  }

  .health__journal-img-wrap {
    top: -220px;
  }

  .medical__services-wrap .container .number-of-items-wrap {
    margin-left: 3%;
  }

  .medical__services__img-wrap .medical__services__img1 {
    top: -300px;
  }

  .footer__wrap-above {
    font-size: 26px;
  }
}
@media screen and (max-width: 2300px) {
  .container {
    width: 1080px;
  }

  .pill-box .pill-box__circle-wrap {
    top: -400px;
    right: -200px;
  }
}
@media screen and (min-width: 1080px) {
  .pill-box .pill-box__text-wrap {
    top: -200px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 100px;
    right: -200px;
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (min-width: 1200px) {
  .rectangle1 {
    height: 3000px;
  }

  .ellipse-light-grey {
    top: 2370px;
    height: 1700px;
    border-top-left-radius: 100% 25%;
  }

  .ellipse-white {
    top: 3800px;
    height: 2000px;
    border-bottom-left-radius: 100% 370px;
  }

  .rectangle2 {
    top: 5000px;
    height: 2640px;
  }

  .rectangle3 {
    top: 8000px;
    height: 670px;
  }

  .rectangle4 {
    top: 8660px;
  }

  .dashboard .horisontal__line {
    top: -230px;
  }
  .dashboard .dashboard2 {
    top: 200px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img1 {
    top: -410px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img2 {
    top: -150px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img3 {
    top: -140px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img4 {
    top: 110px;
  }
  .pill-box .pill-box__text-wrap {
    top: -250px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 100px;
    right: -200px;
    width: 70vw;
    height: 70vw;
  }

  .health__journal .health__journal-img-wrap {
    top: -200px;
  }
}
@media screen and (min-width: 1300px) {
  .ellipse-white {
    top: 4000px;
    height: 1970px;
    border-bottom-left-radius: 100% 370px;
  }

  .rectangle2 {
    top: 5000px;
    height: 2840px;
  }

  .rectangle3 {
    top: 8000px;
    height: 920px;
  }

  .rectangle4 {
    top: 9080px;
    height: 400px;
  }

  .dashboard .dashboard2 {
    top: 240px;
  }
}
@media screen and (min-width: 1400px) {
  .rectangle2 {
    top: 5000px;
    height: 3040px;
  }

  .rectangle3 {
    top: 8100px;
    height: 1030px;
  }

  .rectangle4 {
    top: 9140px;
  }

  .dashboard .horisontal__line {
    top: -250px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img1 {
    top: -415px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img2 {
    top: -110px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img3 {
    width: 38%;
    top: -66px;
    left: 23%;
  }
  .pill-box .pill-box__image-wrap .pill-box__img4 {
    top: 180px;
  }
  .pill-box .pill-box__text-wrap {
    top: -240px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 200px;
    right: -200px;
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (min-width: 1500px) {
  .ellipse-light-grey {
    top: 2420px;
    height: 1700px;
    border-top-left-radius: 100% 27%;
  }

  .ellipse-white {
    top: 4500px;
    height: 1700px;
    border-bottom-left-radius: 100% 370px;
  }

  .ellipse-blue-wrap {
    top: 5300px;
  }

  .rectangle2 {
    top: 5800px;
    height: 2640px;
  }

  .rectangle3 {
    top: 8250px;
    height: 670px;
  }

  .rectangle4 {
    top: 9470px;
    height: 330px;
  }

  .dashboard .horisontal__line {
    top: -290px;
  }
  .dashboard .dashboard2 {
    top: 250px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img1 {
    top: -440px;
  }
  .pill-box .pill-box__text-wrap {
    top: -240px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 230px;
    right: -200px;
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (min-width: 1600px) {
  .ellipse-light-grey {
    top: 2420px;
    height: 1800px;
    border-top-left-radius: 100% 30%;
  }

  .ellipse-white {
    top: 4500px;
    height: 1870px;
    border-bottom-left-radius: 100% 370px;
  }

  .ellipse-blue-wrap {
    top: 5450px;
  }

  .rectangle2 {
    top: 5800px;
    height: 3000px;
  }

  .rectangle3 {
    top: 8450px;
    height: 670px;
  }

  .rectangle4 {
    top: 9720px;
    height: 330px;
  }

  .dashboard .dashboard2 {
    top: 280px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img1 {
    top: -460px;
  }
  .pill-box .pill-box__text-wrap {
    top: -300px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 230px;
    right: -200px;
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (min-width: 1700px) {
  .ellipse-light-grey {
    top: 2700px;
    height: 1800px;
    border-top-left-radius: 100% 30%;
  }

  .ellipse-white {
    top: 4500px;
    height: 1990px;
    border-bottom-left-radius: 100% 370px;
  }

  .ellipse-blue-wrap {
    top: 5550px;
  }

  .rectangle2 {
    top: 5800px;
    height: 2800px;
  }

  .rectangle3 {
    top: 8600px;
    height: 670px;
  }

  .rectangle4 {
    top: 9970px;
    height: 600px;
  }

  .dashboard .dashboard2 {
    top: 310px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img1 {
    top: -480px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img3 {
    top: -30px;
  }
  .pill-box .pill-box__text-wrap {
    top: -300px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 300px;
    right: -200px;
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (min-width: 1800px) {
  .ellipse-white {
    top: 4500px;
    height: 2140px;
    border-bottom-left-radius: 100% 370px;
  }

  .ellipse-blue-wrap {
    top: 5750px;
  }

  .rectangle2 {
    height: 3100px;
  }

  .rectangle3 {
    top: 8800px;
    height: 670px;
  }

  .rectangle4 {
    top: 10200px;
    height: 400px;
  }

  .dashboard .dashboard2 {
    top: 350px;
  }

  .pill-box .pill-box__image-wrap .pill-box__img2 {
    top: -70px;
  }
  .pill-box .pill-box__image-wrap .pill-box__img3 {
    top: 26px;
  }
  .pill-box .pill-box__text-wrap {
    top: -340px;
  }
  .pill-box .pill-box__circle-wrap {
    top: 420px;
    right: -170px;
    width: 65vw;
    height: 65vw;
  }
}
@media screen and (min-width: 2100px) {
  .dashboard .dashboard2 {
    top: 380px;
  }
}
@media screen and (min-width: 2300px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-right: visible;
    overflow: visible;
    width: 100vw;
  }

  .maket__bg {
    overflow: visible;
  }

  .rectangle1 {
    height: 3200px;
  }

  .ellipse-light-grey {
    top: 2470px;
    height: 2400px;
    border-top-left-radius: 100% 25%;
  }

  .ellipse-white {
    top: 4837px;
    height: 2100px;
    border-bottom-left-radius: 100% 529px;
  }

  .ellipse-blue-wrap {
    top: 5000px;
  }

  .rectangle2 {
    top: 6300px;
    height: 2760px;
  }

  .rectangle3 {
    top: 9060px;
    height: 1487px;
  }

  .rectangle4 {
    top: 10555px;
    height: 380px;
  }

  .pill-box .pill-box__text-wrap {
    top: -340px;
  }
  .pill-box .pill-box__circle-wrap {
    top: -420px;
    right: -170px;
    width: 65vw;
  }
}
