@media screen and (max-width: 1080px)
    .ellipse-light-grey 
        top: 2270px
        
    .ellipse-white
        height: 1130px

    .rectangle2
        top: 4800px
        height: 1930px
        
    .ellipse-blue-wrap
        top: 4500px
        width: 800px
        height: 800px
        left: -504px
        
    .rectangle3
        top: 6730px
        height: 870px
        
    .rectangle4
        top: 7600px
        height: 380px       
    
    .container
        width: 960px
        
    .section__text
        span
            font-size: 40px 
        
        ul 
            li
                font-size: 18px     
    
    .number-of-items-wrap
        .number__circle
            width: 160px
            height: 160px
            border: 3px solid $darkGrey
            
        .circle__text
            span
                font-size: 17px
            &.number
                font-size: 26px    
    
    .title__circle-wrap
        .about__circle
            span.section__title-style 
                font-size: 70px 
            ul
                font-size: 22px
        
    .personal__data-wrap
        width: 48%
    
    .personal__data__img1
        top: -405px
        
    .personal__data__img2
        top: 330px
    
    .pill-box
        .pill-box__image-wrap
            .pill-box__img1
                top: -380px
            
            .pill-box__img3
                width: 38%
                top: -80px
                left: 23%
        
        .pill-box__img4
            top: 70px 
                
        .pill-box__text-wrap
            top: -160px
            
        .pill-box__circle-wrap
            width: 780px
            height: 780px
            top: 150px
            right: -200px

    .personal__calendar__img-wrap
        .personal__calendar__img1
            width: 70%
            
        .personal__calendar__img2
            right: -240px
            top: 218px
    
    .health__journal__iphone
        .health__journal__img1
            width: 46%
            top: -280px
    
    .health__journal__text
        ul
            margin-bottom: 46px
    
    .health__journal-img-wrap 
        top: -220px
        
    .medical__services-wrap
        
       .container
            .number-of-items-wrap
                margin-left: 3%
    
    .medical__services__img-wrap  
        .medical__services__img1
            top: -300px
        
    .footer__wrap-above
        font-size: 26px

@media screen and (max-width: 2300px) 
    .container
        width: 1080px 
    
    .pill-box
        .pill-box__circle-wrap
            top: -400px
            right: -200px 

            
@media screen and (min-width: 1080px)
    .pill-box
        .pill-box__text-wrap
            top: -200px
        .pill-box__circle-wrap
            top: 100px
            right: -200px  
            width: $pill-box_circle-width1080
            height: $pill-box_circle-width1080
                
@media screen and (min-width: 1200px)
    .rectangle1
        height: 3000px
    .ellipse-light-grey
        top: 2370px
        height: 1700px
        border-top-left-radius: 100% 25%
    .ellipse-white
        top: 3800px
        height: 2000px
        border-bottom-left-radius: 100% 370px
    .rectangle2
        top: 5000px
        height: 2640px
    .rectangle3
        top: 8000px
        height: 670px
    .rectangle4
        top: 8660px    

    .dashboard
        .horisontal__line
            top: -230px
        .dashboard2
            top: 200px
    .pill-box
        .pill-box__image-wrap
            .pill-box__img1
                top: -410px
            .pill-box__img2
                top: -150px
            .pill-box__img3
                top: -140px
            .pill-box__img4
                top: 110px 
        .pill-box__text-wrap
            top: -250px
        .pill-box__circle-wrap
            top: 100px
            right: -200px  
            width: $pill-box_circle-width1080
            height: $pill-box_circle-width1080
    .health__journal
        .health__journal-img-wrap 
            top: -200px  

@media screen and (min-width: 1300px)
    .ellipse-white
        top: 4000px
        height: 1970px
        border-bottom-left-radius: 100% 370px
    
    .rectangle2
        top: 5000px
        height: 2840px
        
    .rectangle3
        top: 8000px
        height: 920px
    .rectangle4
        top: 9080px
        height: 400px 
        
    .dashboard
        .dashboard2
            top: 240px
            
@media screen and (min-width: 1400px)
    .rectangle2
        top: 5000px
        height: 3040px
        
    .rectangle3
        top: 8100px
        height: 1030px
    .rectangle4
        top: 9140px 
        
    .dashboard
        .horisontal__line
            top: -250px
    .pill-box
        .pill-box__image-wrap
            .pill-box__img1
                top: -415px
            .pill-box__img2
                top: -110px
            .pill-box__img3
                width: 38%
                top: -66px
                left: 23%
            .pill-box__img4
                top: 180px 
        .pill-box__text-wrap
            top: -240px
        .pill-box__circle-wrap
            top: 200px
            right: -200px  
            width: $pill-box_circle-width1080
            height: $pill-box_circle-width1080
              

@media screen and (min-width: 1500px)
    .ellipse-light-grey
        top: 2420px
        height: 1700px
        border-top-left-radius: 100% 27%
    .ellipse-white
        top: 4500px
        height: 1700px
        border-bottom-left-radius: 100% 370px
    .ellipse-blue-wrap
        top: 5300px
    .rectangle2
        top: 5800px
        height: 2640px
    .rectangle3
        top: 8250px
        height: 670px
    .rectangle4
        top: 9470px
        height: 330px    

    .dashboard
        .horisontal__line
            top: -290px
        .dashboard2
            top: 250px
    .pill-box
        .pill-box__image-wrap
            .pill-box__img1
                top: -440px
        .pill-box__text-wrap
            top: -240px
        .pill-box__circle-wrap
            top: 230px
            right: -200px  
            width: $pill-box_circle-width1080
            height: $pill-box_circle-width1080      

@media screen and (min-width: 1600px)
    .ellipse-light-grey
        top: 2420px
        height: 1800px
        border-top-left-radius: 100% 30%
    .ellipse-white
        top: 4500px
        height: 1870px
        border-bottom-left-radius: 100% 370px
    .ellipse-blue-wrap
        top: 5450px
    .rectangle2
        top: 5800px
        height: 3000px
    .rectangle3
        top: 8450px
        height: 670px
    .rectangle4
        top: 9720px
        height: 330px    

    .dashboard
        .dashboard2
            top: 280px
    .pill-box
        .pill-box__image-wrap
            .pill-box__img1
                top: -460px
        .pill-box__text-wrap
            top: -300px
        .pill-box__circle-wrap
            top: 230px
            right: -200px  
            width: $pill-box_circle-width1080
            height: $pill-box_circle-width1080
                                
@media screen and (min-width: 1700px)
    .ellipse-light-grey
        top: 2700px
        height: 1800px
        border-top-left-radius: 100% 30%
    .ellipse-white
        top: 4500px
        height: 1990px
        border-bottom-left-radius: 100% 370px
    .ellipse-blue-wrap
        top: 5550px
    .rectangle2
        top: 5800px
        height: 2800px
    .rectangle3
        top: 8600px
        height: 670px
    .rectangle4
        top: 9970px
        height: 600px   
        
    .dashboard
        .dashboard2
            top: 310px
    .pill-box
        .pill-box__image-wrap
            .pill-box__img1
                top: -480px
            .pill-box__img3
                top: -30px
        .pill-box__text-wrap
            top: -300px
        .pill-box__circle-wrap
            top: 300px
            right: -200px  
            width: $pill-box_circle-width1080
            height: $pill-box_circle-width1080

@media screen and (min-width: 1800px)
    .ellipse-white
        top: 4500px
        height: 2140px
        border-bottom-left-radius: 100% 370px
    .ellipse-blue-wrap
        top: 5750px
    .rectangle2
        height: 3100px
    .rectangle3
        top: 8800px
        height: 670px
    .rectangle4
        top: 10200px
        height: 400px   
    
    .dashboard
        .dashboard2
            top: 350px
    .pill-box
        .pill-box__image-wrap
            .pill-box__img2
                top: -70px
            .pill-box__img3
                top: 26px
        .pill-box__text-wrap
            top: -340px
        .pill-box__circle-wrap
            top: 420px
            right: -170px  
            width: $pill-box_circle-width1800
            height: $pill-box_circle-width1800
            
@media screen and (min-width: 2100px)
    .dashboard
        .dashboard2
            top: 380px
                
@media screen and (min-width: 2300px)
    .wrapper 
        display: flex
        flex-direction: column
        justify-content: center
        overflow-right: visible
        overflow: visible 
        width: 100vw 
    
    .maket__bg
        overflow: visible  
        
    .rectangle1
        height: 3200px
    .ellipse-light-grey
        top: 2470px
        height: 2400px
        border-top-left-radius: 100% 25%
    .ellipse-white
        top: 4837px
        height: 2100px
        border-bottom-left-radius: 100% 529px
    .ellipse-blue-wrap
        top: 5000px
    .rectangle2
        top: 6300px
        height: 2760px
    .rectangle3
        top: 9060px
        height: 1487px
    .rectangle4
        top: 10555px  
        height: 380px  
        
    .pill-box
        .pill-box__text-wrap
            top: -340px
        .pill-box__circle-wrap
            top: -420px
            right: -170px  
            width: $pill-box_circle-width1800   