// Переменные
@import 'vars'

//---------Стили секций--------

//Секция с заголовком и "О проекте"
@import 'sections/title__section'

//Дашборд
@import 'sections/dashboard'

//Данные застрахованного лица
@import 'sections/personal__data'

//Таблетница
@import 'sections/pill-box'

//Личный календарь
@import 'sections/personal__calendar'

//Дневник здоровья
@import 'sections/health__journal'

//Медицинские услуги
@import 'sections/medical__services'

//Мобильное приложение
@import 'sections/mobile__application'

//Footer
@import 'sections/footer'

//---------Стили общих блоков--------

//Стиль текстовых блоков
@import 'common/section__text'

//Стиль круглого блока секции
@import 'common/number-of-items'

//---------Стиль фона сайта----------

@import 'maket__bg/maket__bg'


html
    line-height: 1
    font-size: 12pt
//    max-width: 1920px
    width: 100vw
    
body 
    height: auto//12868px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto

div
    display: block

h1
    margin: 0

ul, li
    margin: 0
    padding: 0
    list-style-type: none
p
    margin: 0

a
    text-decoration: none

.clearfix:after
    clear: both

.clearfix
    *zoom: 1

.bg__wrapper
    display: block
    top: 0
    left: 0
    z-index: 1 
    
.wrapper
    display: block
    //display: flex
    //flex-direction: column
    //justify-content: center
    margin: 0 auto
    position: relative //absolute
    overflow: hidden
    left: center
    z-index: 6
    opacity: .99
    width: 100%
    max-width: 1920px
    
.container
    position: relative
    overflow: visible //hidden
    display: flex
    justify-content: space-between
    align-items: center
    width: 81vw
    max-width: 1080px
    margin: 0 auto
    padding: 0

//Адаптивная верстка
@import '_media'

