extends pug/layout/layout

block title
    | Maket 9

block maket__bg
    include pug/background/maket__bg
block title__section
    include pug/sections/title__section
block dashboard
    include pug/sections/dashboard
block personal__data
    include pug/sections/personal__data
block pill-box
    include pug/sections/pill-box
block personal__calendar
    include pug/sections/personal__calendar
block health__journal
    include pug/sections/health__journal
block medical__services
    include pug/sections/medical__services
block mobile__application
    include pug/sections/mobile__application