doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-enquiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="keywords" content="")
		meta(name="author" content="AK")
		link(href="css/style.css" rel="stylesheet" type="text/css")
		link(href="fonts/fonts.css" rel="stylesheet" type="text/css")
		link(rel="stylesheet" media="all" href="css/animate.css")
		script(src="js/main.js")
		script(src="js/wow.min.js")
		script
			include ../../js/main.js
		
		title
			block title
	body
		<!--[if lt IE 8]>
		p.browserhappy
			|You are using an <strong>outdated</strong> browser.
			|Please <a href="http://browserhappy.com/">upgrade your browser</a>
			|to improve your experience.
		<![endif]-->
		.wrapper
			block title__section
			block dashboard
			block personal__data
			block pill-box
			block personal__calendar
			block health__journal
			block medical__services
			block mobile__application
		.bg__wrapper
			block maket__bg
		include ../sections/footer
		