@font-face{
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "MyriadProLight";
	src: url("../fonts/MyriadProLight/MyriadProLight.eot");
	src: url("../fonts/MyriadProLight/MyriadProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProLight/MyriadProLight.woff") format("woff"),
	url("../fonts/MyriadProLight/MyriadProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
