section.dashboard
	.dashboard-text-wrap
		.container
			.section__text.white-text.dashboard__text
				span Дашборд
				ul
					li.fadeInRight.wow Возможность добавления виджетов
					li.fadeInRight.wow Быстрый доступ к частопосматриваемой информации
					li.fadeInRight.wow Узнайте о возможных рисках, связанных с изменениями окружающей среды, 
					li.fadeInRight.wow а также о необходимости пройти диспанцеризацию, воспользовавшись сервисасми уведомлений
	.dashboard__img-wrap
		embed(src='img/dashboard/dashboard.svg' alt='dashboard').dashboard1
		.horisontal__line
		embed(src='img/dashboard/dashboard2.svg').dashboard2
