footer
    .footer__wrap
        .footer__wrap-above
            embed(src='img/footer/vec-samrt-object1.svg').footer__img__puls.pulse.wow
            span Перейти на
            a(href='http://www.pandore.mgfoms.ru/') www.pandore.mgfoms.ru
            br
            span Скачать приложение:
            .footer__download__wrap
                embed(src='img/footer/apple_btn.svg')
                embed(src='img/footer/google_btn.svg')
        .footer__wrap-below
            .footer__wrap-below__it-aces
                embed(src='img/footer/it-aces_logo3.svg').it-aces-logo
            .see__again
                a(href='#' onClick="scroll(0,0) return false" title="up").button__up
                span Посмотреть еще раз
            .footer-btn-wrap
                a(href='javascript:void(0);').footer-btn__return Вернуться на сайт


        