section.health__journal
    .health__journal-wrap
        .container
            .section__text.white-text.health__journal__text
                span.health__journal-title Дневник здоровья
                ul
                    li.fadeInRight.wow Ведение записей мониторинга состояния здоровья: давление, пульс, глюкоза, температура, холестерин, вес, потребленные калории.
                    li.fadeInRight.wow Просмотр введенных результатов в табличном и графическом виде. 
                    li.fadeInRight.wow Распечатка введенных результатов.
                .number-of-items-wrap.slideInLeft.wow
                    .number__circle
                        .circle__text
                            span более
                            span.number 401
                            span пациента 
                            span пользуются
                            span дневником
                            span здоровья
            .health__journal__iphone
                embed(src='img/health__journal/Frontal.svg').health__journal__img1
    .health__journal-img-wrap 
        embed(src='img/health__journal/71-full.svg').health__journal__img2
    .health__journal-img-heart
        embed(src='img/health__journal/heart-shape.svg').health__journal__img3
