section.medical__services
    .medical__services-wrap
        .container
            span.medical__services-title Медицинские услуги
        .container
            .section__text.white-text.medical__services__text
                ul
                    li.fadeInRight.wow Подтверждение или опровержение факта оказания медицинской услуги.
                    li.fadeInRight.wow Отзыв на оказанную услугу (доступность услуги, удовлетворенность ЗЛ оказанием мед. услуги).
                    li.fadeInRight.wow Просмотр и печать перечня оказанных медицинских услуг.
            .number-of-items-wrap.slideInLeft.wow
                .number__circle
                    .circle__text
                        span более
                        span.number 47930
                        span жалоб отправлено 
                        span на неоказанные
                        span мед. услуги
    .medical__services__img-wrap
        embed(src='img/medical__services/Frontal.svg').medical__services__img3
        embed(src='img/medical__services/screen-short.svg').medical__services__img2
        embed(src='img/medical__services/doctor.svg').medical__services__img1
    
  
        
