section.mobile__application
    .mobile__application-wrap
        .container
            .section__text.grey-text.mobile__application__text
                span Мобильное приложение
                ul
                    li.fadeInRight.wow Реализация полного функционала в мобильном приложении
                    li.fadeInRight.wow Доступно на iOS и Android
    .mobile__application__img-wrap
        embed(src='img/mobile__application/6.svg').mobile__application__img1
   
