section.personal__data
    .container
        .personal__data-wrap
            .section__text.grey-text.personal__data__text
                span Данные застрахованного лица
                ul
                    li.fadeInRight.wow Просмотр персональных данных с возможностью сообщить о неточной информации.
                    li.fadeInRight.wow Просмотр данных полиса ОМС.
                    li.fadeInRight.wow Просмотр данных МО прикрепления с возможностью сообщить о неточной информацииили подтвердить прикрепление.
                    li.fadeInRight.wow Внесение контактных данныхзастрахованного лица
                    li.fadeInRight.wow Внесение даных для скорой медицинской помощи в раздел "Расскажи о себе врачу".
            .number-of-items-wrap.slideInLeft.wow
                .number__circle
                    .circle__text
                        span более
                        span.number 46213
                        span уникальных 
                        span пользователей 
                        span Cервиса

    embed(src='img/personal__data/layer4.svg').personal__data__img1
    embed(src='img/personal__data/Frontal.svg').personal__data__img2
