section.personal__calendar
    .personal__calendar-wrap
        .container
            span.personal__calendar-title Личный календарь
        .container
            .section__text.grey-text.personal__calendar__text
                ul
                    li.fadeInRight.wow Просмотр запланированных событий и получение уведомлений по e-mail о запланированных на день событиях.
                    li.fadeInRight.wow Создание/редактирование события. 
                    li.fadeInRight.wow Печать запланированных на неделю событий.
            .number-of-items-wrap.slideInLeft.wow
                .number__circle
                    .circle__text
                        span более
                        span.number 261
                        span пациента 
                        span каждый день 
                        span пользуются
                        span календарем
    .personal__calendar__img-wrap
        .empty__wrap
        embed(src='img/personal__calendar/Frontal.svg').personal__calendar__img2
        embed(src='img/personal__calendar/calendar.svg').personal__calendar__img1
        
        