section.pill-box
    .pill-box__image-wrap
        embed(src='img/pill-box/doctor.svg').pill-box__img1
        embed(src='img/pill-box/pill-box.svg').pill-box__img2
        embed(src='img/pill-box/ellipsis3.svg').pill-box__img3
        embed(src='img/pill-box/Frontal.svg').pill-box__img4
    .pill-box__text-wrap
        .section__text.white-text.pill-box__text
            span Таблетница
            ul
                li.fadeInRight.wow Ведение личной таблетницы для подопечного.
                li.fadeInRight.wow Планирование приема лекарственных средств.
                li.fadeInRight.wow Распечатка запланированного приема лекарственных средств на неделю, получение уведомлений по e-mail о необходимости приема лекарственных средств и уведомлении о пропущенных приемах.
                li.fadeInRight.wow Проведение скрининга лекарственных средств с учетом пола, возраста, аллергический и хронических заболеваний.
    .pill-box__circle-wrap.zoomIn.wow
        .pill-box__circle
            embed(src='img/pill-box/vec-smart-object5.png').circle-bg