section.title_section
	.container
		.title__circle-wrap
			.title__circle.zoomIn.wow
				embed(src='img/title__section/logo.svg').title__circle-img
			.vertical__line.none-gradient
			.section__text.about__circle.zoomIn.wow
				span.section__title-style О проекте
				ul
					li Необходимо разработать сервис для информирования застрахованных лиц об оказанной им за счет средств ОМС медицинской помощи.
					li Сервис должен являться интерактивным помощником в планировании мероприятий, связанных с заботой о здоровьем ведением здорового образа жизнию
			.vertical__line.gradient

	
