.rectangle1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 3000px
    z-index: 2
    background: linear-gradient(to top, #42b8f4, #6c68e5) 

.ellipse-light-grey  
    position: absolute
    left: 0
    top: 2437px//2438px
    width: 100%
    height: 2400px //1500px
    z-index: 4
    background-color: $ellipseLightGrey
    border-top-left-radius: 100% 25%
//    border-bottom-left-radius: 100% 592px    

.ellipse-white
    position: absolute
    left: 0
    top: 4837px//3938px
    width: 100%
    height: 2100px
    z-index: 4
    background-color: $whiteColor
    border-bottom-left-radius: 100% 592px//17%//592px
    
.ellipse-blue-wrap
    position: absolute
    left: -574px
    top: 5000px
    width: 1103px
    height: 1103px
    z-index: 3
    border-radius: 50%
    background-color: $whiteColor
    opacity: 0.302
    
.rectangle2
    position: absolute
    top: 6300px//5455px
    left: 0
    width: 100%
    height: 2760px
    z-index: 2
    background: linear-gradient(to top, #42b8f5, #646ee0)
   
.rectangle3
    background-color: $whiteColor
    position: absolute
    left: 0px
    top: 9060px
    width: 100%
    height: 1487px//930px
    z-index: 2

.rectangle4
    background-color: $rectangle4Color
    position: absolute
    left: 0px
    top: 10555px//9040px
    width: 100%
    height: 380px
    z-index: 2

    

        