.number-of-items-wrap
    display: flex
    margin: 0 auto
    width: 50%
    
    =circle($width, $color) 
        width: $width
        height: $width
        background: $color
        border-radius: $width/2
        
    .number__circle
        margin: 0 auto
        display: flex
        align-items: center
        width: 190px
        height: 190px
        border-radius: 50%
        border: 4px solid $darkGrey
        font-family: $MyriadProRegular

    .circle__text
        display: block
        margin: 0 auto

        span
            display: block
            text-align: center
            line-height: 1.111
            font-size: 18px
            color: $darkGrey
                     
            &.number
                font-size: 30px
                line-height: 1.233
                color: $lightGreen

    .number__circle
        animation: slide_from_right $anim-duration ($anim-delay)
        animation-direction: normal
        nimation-play-state: paused

    @keyframes slide_from_right
        from
            transform: translateX(100%)
        to
            transform: translateX(0)


        