.section__text
    display: block
    font-family: $MyriadProRegular
    
    span
        display: block
        font-size: 50px
            
    ul
        display: block
        margin-top: 17px
        padding-left: 14px
        li
            padding-bottom: 10px
            font-size: 22px
            line-height: 1.364
            &:last-child
                padding-bottom: none

    &.white-text
        color: $whiteColor
        
        ul
            border-left: 4px solid $lightGreen
    
    &.grey-text
        color: $darkGrey
        
        span
            color: $darkGreyTitle
        
        ul 
            border-left: 4px solid $orange
    
    
    //@for $i from 1 through $lines 
    //    ul:nth-child(n)
    //        li
    //            animation: slide-in $anim-duration ($anim-delay * $i)
    //            animation-direction: normal
    //            аnimation-play-state: paused

    //@keyframes slide-in
    //    from
    //        transform: translateX(-100%)
    //    to
    //        transform: translateX(0)