.dashboard
    display: flex
    flex-wrap: wrap
    position: relative
    width: 100%

.dashboard-text-wrap
    width: 100%
    display: block
    
.dashboard__text
    margin-bottom: 25px
               
    span
        padding-bottom: 16px
            
.dashboard__img-wrap
    display: block
    position: relative
    width: 100%
    height: auto //936px
    
.dashboard1
    display: block
    position: relative
    z-index: 7
    top: 0
    width: 65.16% //1252px
    max-width: 1298px
    height: auto //100% //73.59% //833px

.anim_finished_img
    position: absolute
    width: 17.19%
    height: 200px
    z-index: 8
    top: 0px
    left: 22.86%
    border: 3px solid black 

.horisontal__line
    position: relative
    top: -370px
    left: 37.6%
    border: none
    background-color: $greyLineDashboard
    color: red
    height: 4px
    width: 22%
    z-index: 9

.dashboard2
    display: block
    position: absolute//relative
    z-index: 8
    left: 59.27% 
    top: 320px 
    width: 22.4% //430px 
    max-width: 430px
    height: auto  
    
    animation: slide_d2 $d2-anim-duration ($d2-delay) 
    @keyframes slide_d2
        from
            transform: translateX(350px)
            -webkit-transform: translate(0px,0)
            -o-transform: translate(350px,0) 
            -moz-transform: translate(350px,0) 
        to
            transform: translateX(100%)
            