footer
    position: relative
    bottom: 0
    margin: 0 auto
    width: 100%
    background-color: #f7f5f9

.footer__wrap
    display: flex
    flex-wrap: wrap
    justify-content: center 
    font-family: $MyriadProRegular
    width: 100%
    max-width: 1918px
    margin: 0 auto
    background: url(../img/footer/footer_bg_gradient.png) center top no-repeat 
    z-index: 3
    
.footer__wrap-above
    display: block
    flex-wrap: wrap
    justify-content: center
    padding-bottom: 60px
    color: $footerText
    font-size: 2.250em//36px
    line-height: 1.2
    text-align: center
    
    .footer__img__puls
        display: block
        margin: 0 auto
        padding-top: 400px
        padding-bottom: 32px
        width: 100%
        height: auto
    
    a
        margin-bottom: 39px
        color: $footerText
        border-bottom: 2px solid $linkUnderLine 

    span
        &:last-child
            display: block    
            
    .footer__download__wrap
        display: block
        margin: 0 auto
        padding-top: 17px
        img
            display: inline-block
            &:first-child
                width: 181px
                margin-right: 33px
            &:last-child
                width: 177px
       
.footer__content
    display: block
    position: relative
    justify-content: space-between
    align-items: center
    margin: 0 auto
    width: 31.87% //612px
    
.footer__wrap-below
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-left: 10.26%
    margin-right: 7.45%
    width: 100%
    max-width: 1918px
    height: 152px

    .footer__wrap-below__it-aces
        display: inline-block
        vertical-align: baseline
        margin-right: 10px
        
        img
            display: block
            width: 209px
        
    .see__again
        display: inline-block 
        margin: 0 auto
        padding-top: 30px
        align-items: center
        width: 174px
        
        .button__up
            display: block
            margin: 0 auto
            background: url(../img/footer/button.png) center center no-repeat
            width: 42px
            height: 42px
            padding-bottom: 12px
        img
            display: block
            margin: 0 auto
            padding-bottom: 12px
        span
            display: block
            margin: 0 auto
            text-align: center
        
    .footer-btn-wrap
        display: inline-block
        padding-top: 39px
    
        .footer-btn__return
            padding: 26px 50px 24px 56px
            background: $linkUnderLine
            color: $whiteColor
            text-transform: uppercase
    
