.health__journal
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    flex-direction: column
    position: relative
    width: 100%
    margin: 0
    padding: 0

.health__journal-wrap
    display: block
    width: 100%

.health__journal__text
    display: inline-block
    padding-top: 135px
    width: 51.85%
        
    .health__journal-title
        padding-bottom: 59px
        
    ul
        padding-bottom: none
        margin-bottom: 86px
    
    .number-of-items-wrap
        .number__circle
            border: 4px solid $whiteColor
            .circle__text
                span 
                    color: $whiteColor
                    &.number
                        color: $lightGreen

.health__journal__iphone
    display: inline-block
    position: relative
    width: 48%
    height: auto
    z-index: 2
    
    .health__journal__img1
        display: block
        position: absolute
        margin: 0 auto
        left: 14.27%
        top: -345px
        width: 59.61%
        height: auto
        z-index: 3
            
.health__journal-img-wrap 
    display: block
    position: relative
    margin: 0 auto
    width: 100%
    height: auto
    max-height: 1513px
    top: -250px
    z-index: 1

    .health__journal__img2
        width: 100%
        margin: 0 auto
        z-index: 2

.health__journal-img-heart
    display: block
    position: absolute
    width: 19.58%
    height: auto
    top: 320px
    right: 0
    
.health__journal__img3
    width: 100%
    z-index: 4