.medical__services
    display: flex
    flex-wrap: wrap
    position: relative
    width: 100%
    padding-bottom: 122px
    margin-top: -230px

.medical__services-wrap
    display: block
    position: relative
    width: 100%
       
    .container

        .medical__services-title 
            padding-bottom: 34px
            display: block
            font-size: 50px
            font-family: $MyriadProRegular
            color: $whiteColor

        .medical__services__text
            display: inline-block
            width: 48.89%
                                
        .number-of-items-wrap
            display: inline-block
            margin-left: 8.98%
            width: 27.78%

        .number__circle
            margin: 0 
            padding: 0
            border: 4px solid $whiteColor

            .circle__text
                span 
                    color: $whiteColor
                    &.number
                        color: $lightGreen

.medical__services__img-wrap
    display: block
    position: relative
    width: 100%
    
    .medical__services__img3
        position: relative
        width: 16.3%
        right: -21.88%//-290px
        top: 60px
        z-index: 3

    .medical__services__img2
        position: relative
        top: 0
        float: right
        width: 69.74% 
        height: auto
        z-index: 2

    .medical__services__img1
        position: absolute
        top: -412px
        left: 72.09% //-50.52% //-970px
        width: 21.15%
        height: auto
        


