.mobile__application
    display: flex
    flex-wrap: wrap
    flex-direction: column
    position: relative
    width: 100%
    padding-bottom: 85px
    height: auto //9.12% // 1174px

.mobile__application-wrap
    display: block
    width: 100%

    .grey-text.mobile__application__text
        margin: 0
        width: 56.11%
            
        span
            margin-bottom: 35px
            
        ul
            border-left: 4px solid $lightGreen

.mobile__application__img-wrap
    display: block
    width: 91.35%
    height: auto
    margin: 0 auto
    position: relative
    
    .mobile__application__img1
        width: 100%
    
