.personal__calendar
    display: block
    position: relative
    width: 100%

.personal__calendar-title
    display: block
    font-size: 50px
    font-family: $MyriadProRegular
    color: $darkGreyTitle
    padding-bottom: 49px
    
.personal__calendar-wrap    
    display: block
    position: relative
    width: 100%
       
.personal__calendar__text
    display: block
    position: relative
    padding: 0
    width: 50%//515px
        
    span
        padding-bottom: 49px

.circle__text
    float: right
    
.personal__calendar__img-wrap
    display: flex //block
    justify-content: flex-end
    flex-direction: row
    position: relative
    width: 100%
    margin: 0 auto
    padding-top: 28px

    .personal__calendar__img1
        position: relative
        z-index: 1
        width: 62.92%
        height: auto

    .personal__calendar__img2
        position: relative 
        z-index: 2
        width: 16.3%
        height: auto    
        right: -180px//-400px
        top: 120px
            