.personal__data
    display: block
    position: relative
    top: 0 //900px//2975px
    padding: 0
    margin: 0 auto
    width: 100%
    height: auto
    z-index: 5

.personal__data-wrap
    display: inline-block
    padding: 0
    margin: 0
    width: 51%
        
.personal__data__text
    padding-bottom: 50px

    span
        &:first-child
            padding-bottom: 38px
    
.personal__data__img1
    position: relative
    float: right
    z-index: 7
    top: -475px
    width: 52.14%
    height: auto
                    
.personal__data__img2
    position: absolute
    z-index: 8
    top: 465px
    right: 35%//33.75% //66px
    width: 15%//16.15%
    height: auto


            
            
