.pill-box
    display: block
    position: relative
    margin-bottom: 178px
    width: 100%
    z-index: 5

    .pill-box__image-wrap
        display: inline-block
        position: relative
        width: 56.67%
        z-index: 9
                            
        .pill-box__img1
            position: absolute
            display: block
            width: 55.14%
            top: -480px
            left: 20.99%//120px
            z-index: 7
                                        
        .pill-box__img2
            display: block
            width: 100%
            position: absolute    
            top: -40px  
            z-index: 7          
                                            
        .pill-box__img3
            display: block
            position: absolute
            width: 308px //28.33%
            height: 308px
            top: 110px
            left: 32% //27.21%
            z-index: 8
                                            
    .pill-box__img4
        display: block
        position: relative
        width: 29.26%
        top: 149px
        left: 60%//219px
        z-index: 8
                        
    .pill-box__text-wrap
        display: inline-block
        position: relative
        top: -350px
        width: 43%
        height: auto
        padding: 0
        margin: 0 auto
        z-index: 9
                
        .pill-box__text
            margin: 0 auto
            width: 100%
            
    .pill-box__circle-wrap
        display: block
        position: absolute
        z-index: 6
        width: $pill-box_circle-width 
        max-width: 1260px
        height: $pill-box_circle-width 
        max-height: 1260px
        //left: 29.9%//574px
        right: -10%
        top: -400px
        
        .pill-box__circle
            display: flex
            justify-content: center
            align-items: center
            height: 100%
            border-radius: 50%
            background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(108,104,229) 1%, rgb(54,148,197) 50%, rgb(66,184,245) 100%)
            background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(108,104,229) 1%, rgb(54,148,197) 50%, rgb(66,184,245) 100%)
            background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(108,104,229) 1%, rgb(54,148,197) 50%, rgb(66,184,245) 100%)
            z-index: 7
            
.circle-bg
    z-index: 8  


        
            