.title_section
    display: block
    width: 100%
    height: 1846px
    z-index: 6
    padding: 0
    margin: 0 auto

.title__circle-wrap
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    width: 100%
                            
    .title__circle
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        background-image: url(../img/title__section/logo.png) center center no-repeat  
        background: $whiteColor
        border-radius: 50%
        width: 876px
        height: 876px//1066px
        
        .title__circle-img
            display: block
            width: 90%
            height: 140px
                               
    .about__circle
        margin: 0 auto
        background: url(../img/title__section/figure1_copy.png)
        width: 652px
        height: 652px
        color: $whiteColor
        text-align: center

        span.section__title-style
            margin: 0 auto
            padding-top: 170px
            padding-bottom: 50px
            font-size: 70px
        
        ul            
            li
                line-height: 1.2
                font-weight: normal
                &:first-child
                    padding-bottom: 35px
                &:last-child
                    margin: 0 auto
                    width: 525px
            


                               
    .vertical__line
        margin: 0 auto
        width: 4px
        height: 128px
        &.none-gradient
            background: $lightGreen
        &.gradient
            background: linear-gradient(to bottom, $lightGreen, transparent 100%)


                